---
layout: default
title:
name: Home
---
{% block body %}
<section class="l-section">
    <div class="container">
        <h1 class="h-section">Lone Star PHP 2017</h1>
        <p>Welcome back to Lone Star PHP for another great year! We're in our <b>seventh year</b> and we're making things better all the time. This year's event will provide all of the great PHP speakers and content you've come to expect from Lone Star PHP. After great success, we are <b>bringing back the Training Day</b>. Training Day will provide a more hands-on experience for all that attend. There'll be plenty of time to spend with the local PHP community too through after-parties and other events.</p>
    </div>
</section>
<section class="l-section">
    <div class="container">
        <!-- <h1 class="h-section">Register Now</h1>
        <div class="grid grid--middle">
            <div class="grid__cell palm-grid__cell--full grid__cell--one-third pricing">
                <div class="pricing__header">
                    Training
                </div>
                <div class="pricing__body">
                    <span class="pricing__price">$125</span>
                    <ul>
                        <li>Learn from noted PHP professionals</li>
                        <li>Receive individualized attention</li>
                    </ul>
                </div>
                <a href="https://ti.to/lone-star-php/lone-star-php-2016/" class="pricing__btn">Register!</a>
            </div>
            <div class="grid__cell palm-grid__cell--full grid__cell--one-third pricing pricing--highlight">
                <div class="pricing__header">
                    Training + Conference
                </div>
                <div class="pricing__body">
                    <span class="pricing__price">$325</span>
                    <ul>
                        <li>The best of both worlds: Training + Conference</li>
                        <li>Maximize your experience over 3 days</li>
                        <li>Expand your knowledge and your network</li>
                    </ul>
                </div>
                <a href="https://ti.to/lone-star-php/lone-star-php-2016/" class="pricing__btn">Register!</a>
            </div>
            <div class="grid__cell palm-grid__cell--full grid__cell--one-third pricing">
                <div class="pricing__header">
                    Conference
                </div>
                <div class="pricing__body">
                    <span class="pricing__price">$225</span>
                    <ul>
                        <li>The best speakers the in the PHP community</li>
                        <li>2 days, 3 tracks, all skill levels</li>
                    </ul>
                </div>
                <a href="https://ti.to/lone-star-php/lone-star-php-2016/" class="pricing__btn">Register!</a>
            </div>
        </div> -->
    </div>
</section>
<section class="l-section l-cta">
    <div class="container">
        <h1 class="h-section h-section--light">Stay up to date with Lone Star PHP</h1>
        <form action="//lonestarphp.us4.list-manage.com/subscribe/post?u=50806fdc694d9f77ae2ccde46&amp;id=0efb148664" method="post" target="_blank" novalidate>
            <div class="grid grid--center">
                <div class="grid__cell grid__cell--two-thirds palm-grid__cell--full">
                    <input type="email" name="EMAIL" placeholder="Enter Email Address" class="text-input text-input--full">
                </div>
                <div class="grid__cell grid__cell--one-quarter palm-grid__cell--full">
                    <button type="submit" class="btn btn-input">Subscribe</button>
                </div>
            </div>
        </form>
    </div>
</section>
<setion class="l-section">
    <h1 class="h-section">Speakers</h1>
    <div class="grid speaker-grid">
        {% for speaker in site.opencfp.speakers %}
            <a href="/speakers#{{ speaker.first_name|lower }}-{{ speaker.last_name|lower }}" class="speaker-flex" title="{{ speaker.first_name }} {{ speaker.last_name }}">
                <figure>
                    <img src="http://cfp.lonestarphp.com/uploads/{{ speaker.photo_path }}">
                    <figcaption>{{ speaker.first_name }} {{ speaker.last_name }}</figcaption>
                </figure>
            </a>
        {% endfor %}
    </div>
</setion>
<div class="l-map" id="map"></div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="/assets/js/map.js"></script>
{% endblock %}
